@media screen and (max-width: 620px) {
    html{
        font-size: 14px;
    }

    .container{
        width: 60%;
    }

    .container-text{
    max-width: 300px;
    margin-left: 30px;
    }

    .text-form{
        max-width: 210px;
        margin-left: 60px;
    }

    .container-form{
        width: 95%;
        margin-left: 8px;
    }

    .form-input {
        margin: 13px 50px;
      }
    
    .categorias-games {
        flex-direction: column;
        padding: 1.2rem;
    }

    .categoria-card {
        width: 60%;
        margin: 9px
      }

    footer{
        margin-top: 10px;
    }
}