body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #cccccc;
}

.container {
  background-image: linear-gradient(#240d28, #5e1d69);
  margin: auto;
  width: 670px;
  color: #ffffff;
  border-radius: 6px;
  padding: 1rem;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.25rem;
  color: #e89823;
  text-align: center;
}

.container-text,
.text-form {
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-form {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: -10px;
}

.container-form {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 6px;
  padding-top: 1.2rem;
  background-image: linear-gradient(#5e1d69, #240d28);
}

.form-input {
  color: #75758b;
  border-radius: 6px;
  font-size: 1.2rem;
  border: 0;
  padding: 0.9rem;
  width: 65%;
  height: 5px;
  margin: 13px 99px;
}

.form-input:focus {
  outline: none;
}

.categorias-games {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem;
}

.categoria-card {
  text-align: center;
  font-size: 1.25rem;
  padding-bottom: 1.3rem;
  border: 10px solid #2637da;
  border-radius: 4px;
  background-image: linear-gradient(#3f61ef, #6ec6fc);
  width: 25%;
}

.categoria-image {
}

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: auto;
}

button {
  border-radius: 3px;
  color: #ffffff;
  font-size: 1rem;
  background-color: #1d0c20;
  border: none;
  width: 100%;
  padding: 1rem 1.8rem;
  cursor: pointer;
  /* margin-inline: 57px; */
}
