@media screen and (max-width: 620px) {
    html{
        font-size: 14px;
    }

    .container{
        width: 60%;
    }

    .container-text{
        max-width: 18.75rem;
        margin-left: 1.8rem;
    }

    .text-form{
        max-width: 13.12rem;
        margin-left: 3.75rem;
    }

    .container-form{
        width: 95%;
        margin-left: .5rem;
    }

    .form-input {
        margin: .8125rem 3.125rem;
      }
    
    .categorias-games {
        flex-direction: column;
        padding: 1.2rem;
    }

    .categoria-card {
        width: 60%;
        margin: .56rem
      }

    footer{
        margin-top: .375rem;
    }
}