@media screen and (max-width: 620px) {
    html{
        font-size: 14px;
    }

    .container{
        width: 60%;
    }

    .header{
        font-size: 1.5rem;
    }
    .container-form{
        width: 95%;
        margin-left: .5rem;
    }

    .form {
        box-sizing: border-box;
      }

    .form-input {
        font-size: 1rem;
      }
    
    .categorias-games {
        flex-direction: column;
        padding: 1.2rem;
    }

    .categoria-imagem{
        width: 80%;
        height: 80%;
    }

    .categoria-card {
        width: 60%;
        margin: .56rem
      }

    footer{
        margin-top: .375rem;
    }
}